{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">CONSTRUCCIÓN</h1>

                <h6 class="text-center">Lo mejor en construcciones......</h6>

                <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                            
                        </span>

                        <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Diseño, Maquetado, Planos...." aria-label="Search">
                        <a href="{% url 'listarEscuelas' %}" class="btn btn-info form-control">Comenzar</a>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


{% endblock %}